<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		{{> header}}
		<div>
			<a href={{link1}}>{{page1}}</a>
			<a href={{link2}}>{{page2}}</a>
			<a href=home>Homepage</a>
		</div>
		{{> footer}}
	</body>
</html>
