<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		{{> header}}
		<div id="search">
			{{myvar}}
			{{myvar2}}
			<p>Welcome to my page<p>
			<div class="form-group">
			  	<form action="/" method="post">
			    	<label for="username">Text 1: </label>
			        <input id="username" type="text" name="username">
			        <label for="password">Text 2: </label>
			        <input id="password" type="text" name="password">
			        <input id="enter-pass" type="submit" value="GET">
				</form>
			</div>
		</div>
		{{> footer}}
	</body>
</html>
